.table-container {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 12px;

  .table {
    height: 750px;
    overflow: auto;
  }
  input {
    align-self: flex-end;
    font-size: 16px;
    width: 250px;
    height: 34px;
    padding-left: 2px;
  }
  table {
      border-collapse: collapse;
      width: 100%;
      height: auto;
      margin: 24px 0;

      td,
      th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }

      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #069ff1;
        color: white;
      }

      thead {
        position: sticky;
        top: 0;
      }
  }
  .table-controls {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8px;
    &>.pagination {
      margin-right: 16px;
      display: flex;
      
      
      &>button {
        margin: 0 8px;
      }
    }
  }
  .pagination {
    align-self: center;
  }

  .total-records {
    font-weight: 700;
    position: absolute;
    left: 0;
    
  }
}



